
// Header Section 

// Navigation Section

.navigation {

    background-color: purple;
    display: flex;
    justify-content: space-evenly;
    padding: 1.25rem;
    

    &__list {
        display: flex;
        justify-content: center;
        align-content: center;
        list-style-type: none;
        gap: 1.25rem;
    }

    &__item {
        background-color: blue;
    }

    a {
        color: white;
        text-decoration: none;
    }
}

// Hero Section

.hero {

    background-color: purple;

    &__header {
        padding-left: 1rem;
        padding-top: 1rem;
        color: white;
    }

    &__title {
        color: white;
    }
    
    &__container {
        display: flex;
        overflow: hidden;
        width: 18.75rem;
        padding: 1.25rem;
        margin: 0 auto;
    }

    &__card {
        background-color: rgb(173, 37, 71);
        flex: 0 0 auto;
        width: 100%;
        border: .0625rem solid #ccc;
        border-radius: .25rem;
        padding: 20px;
        transition: transform 0.3s ease-in-out;
    }

    &__text {
        color: white;
    }

    &__buttons {
        display: flex;
        justify-content: center;
        gap: 1.5rem;
        padding-bottom: 1.5rem;

        &-left {

            width: 80%;
            height: 25%;
            display: flex;
            justify-content: center;
            background-color: black;
            color: white;
            border-radius: .25rem;

        }

        &-right {

            width: 80%;
            height: 25%;
            display: flex;
            justify-content: center;
            background-color: black;
            color: white;
            border-radius: .25rem;

        }
    }
}

// Button 

.button__container {

    display: flex;
    justify-content: center;
}

// Cards Section

.cards {

    background-color: purple;

    &__header {
        padding-left: 1rem;
        padding-top: 1rem;
        color: white;
    }

    &__button {

        width: 80%;
        height: 25%;
        display: flex;
        justify-content: center;
        background-color: black;
        color: white;
        border-radius: .25rem;

    }
}