
// Header Section 

// Navigation Section

.navigation {

    background-color: purple;
    display: flex;
    justify-content: space-evenly;
    padding: 1.25rem;
    

    &__list {
        display: flex;
        justify-content: center;
        align-content: center;
        list-style-type: none;
        gap: 1.25rem;
    }

    a {
        color: white;
        text-decoration: none;
    }
}

// Hero Section

.hero {

    background-color: purple;

    &__header {
        padding-left: 1rem;
        padding-top: 1rem;
        color: white;
    }

    &__title {
        color: white;
    }
    
    &__container {
        display: flex;
        overflow: hidden;
        width: 18.75rem;
        padding: 1.25rem;
        margin: 0 auto;
    }

    &__card {
        padding: 20px;
        background-color: rgb(173, 37, 71);
        max-width: 18.75rem;
        border: .0625rem solid #ccc;
        border-radius: .25rem;
    }

    &__text {
        color: white;
    }

}

// Cards Section

.cards {

    background-color: purple;

    &__header {
        padding-left: 1rem;
        padding-top: 1rem;
        color: white;
    }

    &__button {

        width: 80%;
        height: 25%;
        display: flex;
        justify-content: center;
        background-color: black;
        color: white;
        border-radius: .25rem;

    }
}